global:
  scrape_interval:     15s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:8080
          - host.docker.internal:8080 # For connecting to a scrape endpoint from Prometheus running in a Docker container

remote_read:
  - url: http://localhost:9090/read
    read_recent: true
    name: grafana
