server:
  port: 8080
  error:
    include-stacktrace: always
    whitelabel:
      enabled: false
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/kotlin_blogs?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
    username: root
    password: root
  #JPA Properties
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        #spring.jpa.show-sql=true
        format_sql: TRUE
    hibernate:
      ddl-auto: update
    open-in-view: false
#    mongodb:
#      host: localhost
#      port: 27017
#      database: articles_spring_2021
management:
  endpoints:
    web:
      exposure:
        include: info, health, mappings, metrics, threaddump, heapdump, shutdown, beans, logfile, loggers
  endpoint:
    health:
      show-details: always
    info:
      enabled: true
      cache:
        time-to-live: -1
  info:
    defaults:
      enabled: true
    java:
      enabled: true
    build:
      enabled: true
    env:
      enabled: true
info:
  app:
    encoding: "UTF-8"
    name: REST MVC Demo
    description: REST MVC demo with Spring Boot and Spring Data JPA
    version: 1.0-SNAPSHOT
logging:
  level:
    root: INFO
    org:
      springframework:
        test:
          context:
            support: INFO
